header {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 0.5px solid lightgrey;
  margin: -8.5px -8.5px;
  padding: 6px 9px;
}

.menu {
  width: 25px;
}

.logo {
  width: 87px;
  vertical-align: middle;
  height: auto;
  margin-left: 43px;
  justify-content: center;
}

.account {
  width: 21px;
  margin-right: 20px;
  vertical-align: middle;
}

.shoppingbag {
  width: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
